@charset "UTF-8";
html {
  overflow-y: scroll; 
  /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}
/* リセットおまじない--------------------------------- */

body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
  min-width: 100%;
  height: 100%;
	-webkit-text-size-adjust: 100%;
}

li {
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}

body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}

header {
    height: 120px;
	  width: 100%;
    z-index: 10;
}
header div{
  display:flex;

  /*  ▼装飾など  */
  padding: 10px;
  background: #fdd35c;
}
.header_title1{
  color: rgb(255,135,0);
  -webkit-text-stroke: 0.4px #FFF;
  text-stroke: 0.4px #FFF;
  font-weight: bolder;
  font-size: 50px;
}
.header_title2 {
  color: #888788; 
  -webkit-text-stroke: 0.3px #FFF;
  text-stroke: 0.3px #FFF;
  font-weight: bold;
  font-size: 48px;
}
.header_logo_title{
  color:#868686; 
  font-size: 16px;
}
.header_left{
  margin-right:auto;
  font-weight: 500;
  display: block;
}
.header_right{
  vertical-align: middle;
}
.header_search{
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  }
  .Box {
    position: relative;
    padding: 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .Box-SearchInput {
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 40px;
    letter-spacing: 0.1em;
    padding-left: 20px;
    padding-right: 40px;
    background: #fff;
    color: #000;
    font-size: 14px;
  }
  .Box-Btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: none;
    border-radius: 0 4px 4px 0;
    background: #888788;
    vertical-align: middle;
  }
 
  .Box-Btn-Icon {
    margin: 0 auto;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

.fa-home{
  font-size: 25px;
  color: rgb(255,135,0);
}
.fa-twitter-square{
  font-size: 30px;
}
@media screen and (min-width:769px) {
  #nav-drawer {
    display:none;
  }
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

.main_wrappe {
  max-width: 1200px;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}
.container{
  display: block;
  padding: 30px 0;
  width: 70%;
  margin-right: 20px;
  height: 100vh;
}
.main{
  width: auto;
  margin : 0 10px;
}
.side {
  position: fixed;
  /*基準を画面の右上に*/
  top: 0;
  right: 0;
  /*余白が入らないように*/
  margin-top: 120px;
  /*以下装飾*/
  width: 300px;
  padding: 30px 30px;
}
.category{
  padding: 20px 20px;
}
.side-title .side_title_inner {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}
.side_title{
  background-color: #fdd35c;
  color: rgb(59, 59, 59);
  padding: 7px 5px;
}
.cat_img {
	height: 50px;
	width: 50px;
  }
.cat{
  vertical-align: middle;
}


.cat_item li{
  text-align: left;
  padding-left: 20px;
}
.container h1 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 200;
}


.content h1 br {
	display: none;
	/* スマートフォンとPCでは画面幅が違うので、PC用のレイアウトでいれた改行が */
	/* スマートフォン用のレイアウトできれいに改行されるとは限らないので none で消す */
 }

.content div h2 {
	font-size: 20px;
}
.content div p {
	font-size: 14px;
	line-height: 1.8;
}

.catchcopy h1{
  font-size: 90px;
  padding:250px 0px;
}
.toppage_title2 , .toppage_title4 {
  color: rgb(255,135,0);
}
.toppage_2 , .toppage_4{
  color:#868686;
  font-size:20px
}
.toppage_2 h4, .toppage_4 h4{
  color:#2f2e2e;
}

.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
footer {
    height: 100px;
    background-color: #D0CFD0;
}
footer .copyright {
    color: #888788;
    font-size: 12px;
    padding-top: 20px;
	letter-spacing: 1px;
}  

.bbs_content{
	border-bottom:1px solid #111;
	width:60%;
	margin:30px auto 0;
} 

#attention{
	color: red;
	font-weight: bold;
	display: none;
} 
