<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIKKAKE</title>

</head>
<body> 
    <div class="main_wrapper">
        <div class="container">
            <h1 class="text_title">KIKKAKEについて</h1>
            <p class="text_contents">あああああああああああああああああああああああああああああああああああああああ</p>
        </div>
        <div class="container">
            <h1 class="text_title">VISION ～私達が実現したい未来～</h1>
            <p class="text_contents">あああああああああああああああああああああああああああああああああああああああ</p>
        </div>
        <div class="container">
            <h1 class="text_title">VALUE 私達の価値観</h1>
            <p class="text_contents">あああああああああああああああああああああああああああああああああああああああ</p>
        </div>
        <a href="/bbs" class="btn">書いてみる</a>
    </div>
    
</body>
</html>