{% extends 'base.html' %}
{% block main %}

<div>
  <form action="/edit">
    <input type="hidden" value="{{comment['id']}}" name="item_id">
    <p>編集：<br>
    <input type="radio" name="cat_id" value="1"  checked="checked" /> 今日の気づき
    <input type="radio" name="cat_id" value="2" /> 後悔・失敗
    <input type="radio" name="cat_id" value="3" /> 謝罪
    <input type="radio" name="cat_id" value="4" /> 感謝<br>
    <textarea name="comment" cols="100" rows="10">{{comment["comment"]}}</textarea></p>
    <input type="submit" name="save" value="編集する">
  </form>
</div>

{% endblock %}