<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>KIKKAKEロゴですねすみません</h1>
        <h2>サイトキャッチコピー</h2>
        <nav>
            <ul>
                <li>home</li>
                <li>検索</li>
                <li>公式twitter</li>
            </ul>
        </nav>
    </header>
    <main>
        <h2></h2>
        <ul>
            <li>今日の気付き</li>
            <li>後悔</li>
            <li>謝罪<li>
            <li>感謝</li>
        
        <h2></h2>
        <p></p>

    </main>
    <footer></footer>

</body>
</html>