<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIKKAKE</title>
</head>
<body>
    
    <div class="content">
        <div class="container">
            <div class="main">
                <div class="main_inner">
                    <div class="post_loop_wrap clearfix">
                        <!-- ↓ 投稿タイトル -->
                        <div class="title_new">
                            <span>新着投稿</span>
                        </div>
                        <!-- ↓ 新着投稿一覧 -->
                        <div class="clearfix flex">

                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="side">
                <div class="side_inner">
                    <h4 class="side_title">
                        <span class="side_title_inner">カテゴリー</span>
                    </h4>
                    <ul class="cat_item">
                        <li class="cat_item_1">
                            <img src="#" class="cat_item_1 img">
                            <a href="/page_1">今日の気づき</a>
                        </li>
                        <li class="cat_item_2">
                            <img src="#" class="cat_item_2 img">
                            <a href="/page_2">後悔・失敗</a>
                        </li>
                        <li class="cat_item_3">
                            <img src="#" class="cat_item_3 img">
                            <a href="/page_3">謝罪</a>
                        </li>
                        <li class="cat_item_4">
                            <img src="#" class="cat_item_4 img">
                            <a href="/page_4">感謝</a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
</body>
</html>